
<!DOCTYPE html>
<html lang="en">
<head>
    @{ Html.RenderPartial("_SiteMeta", siteMeta); }

    @{ Html.RenderPartial("Assets/_PreLoad"); }

    @{ Html.RenderPartial("Assets/_Styles"); }

    @RenderSection("styles", required: false)

    @if (Context.IsEditMode())
    {
        @Html.Kentico().PageBuilderStyles()
    }

    @if (!Context.IsEditMode())
    {
        @Html.Raw(marketingTags.HeaderElementTags)
    }
</head>
<body>
    @if (!Context.IsEditMode())
    {
        @Html.Raw(marketingTags.AfterBodyStartTags)
    }

    @{ Html.RenderAction("Primary", "Navigation"); }

    @RenderBody()

    @{ Html.RenderAction("Footer", "Navigation"); }

    @{ Html.RenderPartial("Assets/_Scripts"); }

    @RenderSection("scripts", required: false)

    @if (Context.IsEditMode())
    {
        @Html.Kentico().PageBuilderScripts()
    }

    @if (!Context.IsEditMode())
    {
        @Html.Raw(marketingTags.BeforeBodyEndTags)
    }
</body>
</html>