@using Sandbox.Delivery.Web.Features.PageMetas

@model PageMeta

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

@if (!IsLiveMode)
{
    return;
}

<title>@Model.Title</title>

@{
    string canonicalUrl = "";
    string pageMainUrl = Url.Kentico().PageMainUrl();

    if (!string.IsNullOrWhiteSpace(Model.CanonicalUrl))
    {
        canonicalUrl = Model.CanonicalUrl;
    }
    else if (!string.IsNullOrWhiteSpace(pageMainUrl))
    {
        string requestAuthority = Url.RequestContext.HttpContext.Request.Url.GetLeftPart(UriPartial.Authority);

        canonicalUrl = requestAuthority + Url.Content(pageMainUrl);
    }
}

@if (!string.IsNullOrWhiteSpace(canonicalUrl))
{
    <link rel="canonical" href="@canonicalUrl" />
}

@foreach (var meta in Model.Metas)
{
    if (string.IsNullOrWhiteSpace(meta.Value))
    {
        continue;
    }

    if (meta.Key == PageMeta.OpenGraphImageUrl)
    {
        <meta name="@meta.Key" content="@Url.AbsoluteUrl(meta.Value)" />
    }
    else
    {
        <meta name="@meta.Key" content="@meta.Value" />
    }
}