
<!DOCTYPE html>
<html lang="en">
<head>
    @{ Html.RenderPartial("Layouts/_Head"); }

    @RenderSection("styles", required: false)
</head>
<body>
    @{ Html.RenderPartial("Layouts/_BodyStart"); }

    @{ Html.RenderAction("Primary", "Navigation"); }

    @RenderBody()

    @{ Html.RenderAction("Footer", "Navigation"); }

    @{ Html.RenderPartial("Layouts/_BodyEnd"); }

    @{ Html.RenderPartial("Assets/_Scripts"); }


    @if (Context.IsEditMode())
    {
        @Html.Kentico().PageBuilderScripts()
    }

    @if (!Context.IsEditMode())
    {
        @Html.Raw(marketingTags.BeforeBodyEndTags)
    }

    @RenderSection("scripts", required: false)
</body>
</html>